@using ValidationMessage.Controllers
@model Person
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Register</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form1" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(m => m.Account, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.Label("lblConfirmPassword", "Confirm Password", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("txtConfirmPassword", null, new { @class = "form-control required" })
                @Html.ValidationMessage("txtConfirmPassword", null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Descr, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Descr, new { @class = "form-control required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnMine" type="submit" class="btn btn-default form-control" value="Submit" />
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $.extend($.validator.messages, {
            required: "*必填欄位",
            min: $.validator.format("*年齡須大於{0}")
        });
        //$("#form1").validate();
        //$('#btnMine').click(function () {
        //    $('#form1').valid();            
        //});
    </script>
}